
.rockhover:hover {
  background-color: rgb(16, 95, 199);
}


.paperhover:hover {
  background-color: rgb(16, 95, 199);
}


.scissorshover:hover {
  background-color: rgb(16, 95, 199);
}

.lookscool{
  font-size: larger;
  font-weight: 700;
}

.rpsheading{
  margin-left:27rem;
}


.image-resize{
  width:10rem;
  display:none;  
}

.computer-image-position{
margin-left:15rem;
}

.computer-point-position{
  margin-left:54rem;
  position:absolute;
  padding-top:6rem;
 
}

.your-points-position{
  margin-left:10rem;
  position:absolute;
  padding-top:6rem;
 
}

.bounding-div-box{
  position:relative;
  height:15.5rem;
  
}