
@import url('https://fonts.cdnfonts.com/css/common-pixel');

                
/* #rockhover:hover {
  background-color: red;
  border-color: blue;
  border-left: solid;
}


#paperhover:hover {
  background-color:red;

}


#scissorshover:hover {
  background-color: rgb(16, 95, 199);
}
 */



.lookscool{
  font-size: larger;
  font-weight: 700;
 
}

.rpsheading{
  margin-left:15rem;
  font-family: 'Common Pixel', sans-serif;
  font-size: 60px;
}
.points-5{
  margin-left:27rem;
  font-family: 'Common Pixel', sans-serif;
  font-size: 30px;
}



.image-resize{
  width:8rem;
 display:none;
    
}

.computerImagePosition{
margin-left:60rem;
position:absolute;
margin-top:-12rem;


}

/* .your-images-position{
  margin-top:10px;
} */

.computer-point-position{
  margin-left:54rem;
  position:absolute;
  padding-top:-6rem;
  font-size: 25px;
  font-family: 'Common Pixel', sans-serif;

 
}

.your-points-position{
  margin-left:10rem;
  position:absolute;
  padding-top:-6rem;
  font-family: 'Common Pixel', sans-serif;
  font-size: 25px;
 
 
}

.bounding-div-box{
  position:relative;
  height:15.5rem;
  
}
.bounding-your-images-box{
  position:absolute;
  margin-left:12rem;
}



.hover {
  position: relative;
  top: -30px; /* this will raise the element */
  padding-bottom: 10px;
}



.rpsheading{
  margin-left:15rem;
  font-family: 'Common Pixel', sans-serif;
  font-size: 60px;
}




.youWinMessage{
  color: green;
  font-family: 'Common Pixel', sans-serif;
  font-size: 40px;
  margin-top:-10px;
  position: absolute;
}

.youLoseMessage{
  color: red;
  font-family: 'Common Pixel', sans-serif;
  font-size: 40px;
  margin-top:-10px;

  position: absolute;
}



.youDrawMessage{
  color: orange;
  font-family: 'Common Pixel', sans-serif;
  font-size: 40px;
  margin-top:-10px;

  position: absolute;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 20px;
  border: 10px solid green;
  width: 80%;
  height: 80%;
  margin-top:-50px;
}

/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-size: 58px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-win-message{
  font-family: 'Common Pixel', sans-serif;
  font-size: 80px;
  margin-left:23rem;
}

.victory-gif{
  width:30rem;
  margin-left:21rem;
}





/* Lmodel */






/* The Modal (background) */
.Lmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.Lmodal-content {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 20px;
  border: 10px solid green;
  width: 80%;
  height: 80%;
  margin-top:-50px;
}

/* The Close Button */
.Lclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.Lclose:hover,
.Lclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-lose-message{
  font-family: 'Common Pixel', sans-serif;
  font-size: 80px;
  margin-left:20rem;
  margin-top: -1rem;
}

.modal-try-message{
  font-family: 'Common Pixel', sans-serif;
  font-size: 60px;
  margin-left:25.5rem;
}

.lose-gif{
  width:20rem;
  margin-left:28rem;
  margin-top:-4rem;
}


 #display-nothing{
 display: none;
} 